/* ------------------------------------------
[Tables of Content]

> style
> style-breakpoints
> dark theme (this)
    - General
    - 1.0 Home Page
    - 2.0 About Page
    - 3.0 Indiv Pages
    - 4.0 Works By NRFZ/Blogs (Featured/Main)
    - 5.0 EICW
    - 6.0 Timeline
    - 7.0 Portfolio Controls
    - 8.0 Tabs Controls
    - 9.0 Navigation
    - 10.0 Footer
    - 11.0 Screenshots Draggable Carousel
--------------------------------------------- */

/* ------------------------------------------ General ------------------------------------------ */

body.dark-mode {
    visibility: visible;
    opacity: 1;
}

body.dark-mode {
    background: #18191a;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* ---- Button */

body.dark-mode .wbnrfz_btn_theme {
    background: linear-gradient(90deg, rgba(0, 112, 147, 1) 0%, rgba(45, 147, 172, 1) 100%);
    color: #fff;
    border: 1px solid #1b1b1b1a;
}

body.dark-mode .portfolio-filter .btn {
    color: #fff;
}

body.dark-mode .portfolio-filter .btn.active,
body.dark-mode .portfolio-filter .btn:hover {
    background: #52718d;
}

body.dark-mode .wbnrfz_btn_theme:hover {
    background-color: #4784c5;
    transform: translateY(-2px);
}

body.dark-mode #hero {
    width: 100%;
    height: 100vh;
    background: url("../img/bg-img/hero-bg-dark.png") top right no-repeat;
    background-size: cover;
    position: relative;
    transition: all 0.5s ease;
}

body.dark-mode #hero:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode p,
body.dark-mode strong,
body.dark-mode li {
    color: #fff;
}


body.dark-mode h4.timeline-date-aa {
    color: #fff;
}

body.dark-mode h4.timeline-date-exp {
    color: #fff;
}

body.dark-mode hr {
    border-color: #fff;
}

body.dark-mode #scrollUp {
    box-shadow: 0 2px 40px 0px rgba(15, 15, 15, 0.15);
    z-index: 12345111212;

}

#scrollUp:focus,
#scrollUp:hover {
    transform: translateY(-2px);
}

body.dark-mode header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    background: #070707e8;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(5px);
    transition: all 0.5s ease;
}

body.dark-mode .nav-item {
    position: relative;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.13px;
    text-decoration: none;
    transition: all 0.5s ease;
}

body.dark-mode .nav-item:hover {
    color: #80a8cc;
}

body.dark-mode .nav-item.active {
    font-weight: bold;
    border-bottom: 2px solid #7b7c64;
    text-decoration: none;
    line-height: 40px;
    color: #a2a390;
}

body.dark-mode .nav-item-toggle {
    position: relative;
    line-height: 25px;
    letter-spacing: -0.13px;
    text-decoration: none;
    margin-left: 2.5rem;
    transition: all 0.5s ease;
}

body.dark-mode .nav-item-toggle:hover:after,
body.dark-mode .nav-item-toggle::after {
    background-color: none;
}

body.dark-mode .icons i {
    color: #ffffff;
}

body.dark-mode #menu-icon,
body.dark-mode #close-icon {
    color: #ffffff;
    font-size: 30px;
}

body.dark-mode #check {
    display: none;
}

body.dark-mode .cookiebanner span {
    color: #000;
}

/* ---- Progress Bar */
body.dark-mode .single-skill .progress {
    transition: all 0.5s ease;
    background-color: #2e2e2e;
    border: 1px solid #2b2b2b33;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.233), 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* ------------------------------------------ */

/* ------------------------------------------ 1.0 Home Page ------------------------------------------ */
body.dark-mode .pw-portfolio-area {
    background-color: #18191a;
    transition: all 0.5s ease;
}

body.dark-mode .pw-portfolio-area-featured {
    background-color: #18191a;
}

body.dark-mode .pw-portfolio-area .container-fluid {
    background-color: #18191a;
    color: #fff;
    transition: all 0.5s ease;
}


body.dark-mode h2 {
    color: #fff;
}

body.dark-mode .profile-link a {
    color: #fff;
    padding: 1.0em;
}

body.dark-mode .profile-link a:hover {
    color: #6d99c0;
}

body.dark-mode h2.profile-desc {
    color: #a2a390;
    font-size: 20px;
    font-weight: normal;
    cursor: default;
}

body.dark-mode .about-me-area {
    background-color: #1e1e1e;
    color: #fff;
    transition: all 0.5s ease;
}

body.dark-mode .about-me-content {
    background-color: #2e2e2e;
    transition: all 0.5s ease;
}

body.dark-mode .about-me-content h4,
body.dark-mode .about-me-content p {
    color: #fff;
}

body.dark-mode .about-me-content:hover {
    background-color: #52718d;
}

body.dark-mode .follow-area {
    background-color: #18191a;
    color: #fff;
    transition: all 0.5s ease;
}

body.dark-mode .skill-ara .single-skill .progress-count p {
    color: #fff;
}

body.dark-mode .profile-desc {
    color: #898a77;
    font-size: 20px;
    font-weight: normal;
    cursor: default;
}

/* ------------------------------------------ */

/* ------------------------------------------ 2.0 About Page ------------------------------------------ */
body.dark-mode .about-me-summ {
    background-color: #18191a;
    transition: all 0.5s ease;
}

body.dark-mode .about-me-summary {
    color: #fff;
    transition: all 0.5s ease;
    background-color: #2e2e2e;
    border: 1px solid #2b2b2b33;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.233), 0 4px 12px rgba(0, 0, 0, 0.1);
}

body.dark-mode .about-me-summary:hover {
    background-color: #52718d;
    transform: translateY(-2px);
}

body.dark-mode .port-summary {
    color: #fff;
    transition: all 0.5s ease;
    background-color: #2e2e2e;
    border: 1px solid #2b2b2b33;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.233), 0 4px 12px rgba(0, 0, 0, 0.1);
}

body.dark-mode .port-summary:hover {
    background-color: #52718d;
    transform: translateY(-2px);
}

body.dark-mode .about-me-area {
    background-color: #1e1e1e !important;
    transition: all 0.5s ease;
}

body.dark-mode .timeline-content {
    background-color: #2e2e2e;
    transition: all 0.5s ease;
}

body.dark-mode .timeline-content:hover {
    background-color: #4784c5;
    transform: translateY(-2px);
}

/* ------------------------------------------ */

/* ------------------------------------------ 3.0 Indiv Pages ------------------------------------------ */
body.dark-mode span,
body.dark-mode h4,
body.dark-mode .social_links a {
    color: #fff;
}

body.dark-mode .social_links a:hover {
    color: #6d99c0;
}


body.dark-mode .collapse .details_catagory_wrap .single_catagory .social_links a:hover {
    color: #80a8cc;
}

body.dark-mode .btn.show {
    color: #fff;
}

/* ------------------------------------------ */

/* ------------------------------------------ 4.0 Works By NRFZ/Blogs (Featured/Main) ------------------------------------------ */
body.dark-mode .wbnrfz-works {
    background-color: #18191a;
}

body.dark-mode .ftco-section-blog {
    background-color: #18191a;
    transition: all 0.5s ease;
}

body.dark-mode .block-27 ul li a {
    border: 1px solid #666666;
    color: #fff;
}

body.dark-mode .ftco-section {
    background-color: #18191a;
    transition: all 0.5s ease;
}

body.dark-mode .about-author {
    background-color: #6e6f5d;
    transition: all 0.5s ease;
}

body.dark-mode blockquote {
    background-color: #3a3b3c;
    transition: all 0.5s ease;
    color: #fff;
}

body.dark-mode .card {
    background: #000;
}

body.dark-mode .card-content {
    background: #0e0e0e91;
    backdrop-filter: blur(25px);
}

/* ------------------------------------------ */

/* ------------------------------------------ 5.0 EICW ------------------------------------------ */

body.dark-mode .wbnrfz-summ-micro {
    background-color: #1e1e1e;
    transition: all 0.5s ease;
    padding-top: 8em;
    padding-bottom: 10px;
}

body.dark-mode .breadcrumb-item+.breadcrumb-item::before {
    content: '\f105';
    color: #fff;
    font-family: "FontAwesome";
}

body.dark-mode li.breadcrumb-item a {
    color: #fff;
}

body.dark-mode li.breadcrumb-item a:hover {
    padding: 10px;
    border-radius: 25px;
    color: #fff;
    transform: translateY(-2px);
    background-color: #5f7c95;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.082);
}


body.dark-mode .banner-eicw img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 2em;
    margin-top: 2em;
    border: 1px solid #2b2b2b33;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(61, 61, 61, 0.384);
}

body.dark-mode h2.page-title {
    color: #fff;
}

body.dark-mode .cp-img {
    border-radius: 20px;
    border: 1px solid #2b2b2b33;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(61, 61, 61, 0.384);
}

body.dark-mode .ftco-section-otb {
    padding: 5em 0;
    background-color: #18191a;
    transition: all 0.5s ease;
}

body.dark-mode .page-header-section {
    background: #18191a;
}

body.dark-mode li.breadcrumb-item a {
    color: #fff;
}

/* ------------------------------------------ */

/* ------------------------------------------ 6.0 Timeline ------------------------------------------ */

body.dark-mode .timeline-item {
    transition: all 0.5s ease;
    background-color: #2e2e2e;
    border: 1px solid #2b2b2b33;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.233), 0 4px 12px rgba(0, 0, 0, 0.1);
}

body.dark-mode .timeline-item:hover {
    background-color: #52718d;
    transform: translateY(-2px);
}

/* ------------------------------------------*/

/* ------------------------------------------ 7.0 Portfolio Controls ------------------------------------------ */

body.dark-mode .portfolio-sort label {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

body.dark-mode #sort-options {
    appearance: none;
    background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"><path fill="white" d="M0 0L5 6L10 0H0Z"/></svg>') no-repeat right 10px center;
    background-size: 10px;
    padding-right: 30px;
    padding-left: 15px;
    color: #fff;
    background-color: #2e2e2e;
    border: 1px solid #2b2b2b33;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.233), 0 4px 12px rgba(0, 0, 0, 0.1);
}

body.dark-mode .wbnrfz-summ {
    background-color: #000000d4;
    backdrop-filter: blur(2px);
    padding-top: 8em;
    padding-bottom: 10px;
}

body.dark-mode .wbnrfz-summ::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000080;
    z-index: 1;
}

body.dark-mode .wbnrfz-summ-indiv {
    background-color: #000000d4;
    backdrop-filter: blur(2px);
    padding-top: 8em;
    padding-bottom: 10px;
}

body.dark-mode .wbnrfz-summ-indiv::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

body.dark-mode .wbnrfz-summ>* {
    position: relative;
    z-index: 2;
}

body.dark-mode .wbnrfz_details {
    background: #0d0d0de0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    margin-top: -3.2em;
    padding-top: 3em;
    padding-bottom: 2em;
    z-index: 1000000 !important;
}

body.dark-mode .wbnrfz_details_body {
    background: #18191a;
    margin-top: -3.2em;
    padding-top: 3em;
    padding-bottom: 2em;
}

body.dark-mode .wbnrfz_details_body_tchp {
    background: #18191a;
    margin-top: -3.2em;
    padding-top: 0em;
    padding-bottom: 2em;
}

body.dark-mode .wbnrfz_details_blog {
    background: #0c0c0cea;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    margin-top: -5.2em;
    padding-top: 3em;
    padding-bottom: 3em;
    z-index: 1000000 !important;
}

body.dark-mode .wbnrfz_eicw {
    background: #18191a;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    padding-bottom: 0em;
}


body.dark-mode .form-control {
    display: block;
    width: 100%;
    color: #fff;
    appearance: none;
    background: #2e2e2e;
    background-clip: padding-box;
    border-radius: 25px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: 1px solid #2b2b2b33;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.233), 0 4px 12px rgba(0, 0, 0, 0.1);
}

body.dark-mode .form-control::placeholder {
    color: #cccccc;
    opacity: 1;
}

/* ------------------------------------------*/

/* ------------------------------------------ 8.0 Tabs Controls ------------------------------------------ */

body.dark-mode .scrollable-tabs-container a {
    color: #fff;
    text-decoration: none;
    padding: 12px 14px;
    display: inline-block;
    border-radius: 24px;
    white-space: nowrap;
    background-color: #494949;
    border: 1px solid #2b2b2b33;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.233), 0 4px 12px rgba(0, 0, 0, 0.1);
}

body.dark-mode .scrollable-tabs-container a:hover {
    background-color: #52718d;
    color: #fff;
}

body.dark-mode .scrollable-tabs-container .right-arrow {
    right: 0;
    background: linear-gradient(to left, #18191a 50%, transparent);
    justify-content: flex-end;
}

body.dark-mode .scrollable-tabs-container .left-arrow {
    background: linear-gradient(to right, #18191a 50%, transparent);
    justify-content: flex-start;
}

body.dark-mode .scrollable-tabs-container svg {
    width: 38px;
    height: 38px;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
}

body.dark-mode .scrollable-tabs-container a.active {
    background: linear-gradient(58deg, rgba(190, 62, 48, 1) 0%, rgba(220, 147, 25, 1) 100%);
    color: #fff;
}

/* ------------------------------------------*/

/* ------------------------------------------ 9.0 Navigation ------------------------------------------ */

body.dark-mode .navbar {
    background: #0e0e0e91;
    backdrop-filter: blur(25px);
    border: 1px solid #2b2b2b33;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(61, 61, 61, 0.384);
    border-radius: 50px;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    position: relative;
    overflow: hidden;
}

body.dark-mode .nav-link {
    color: #fff;
}

body.dark-mode .nav-link:hover {
    color: #fff;
    transform: translateY(-2px);
    background-color: #52718d;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

body.dark-mode .nav-link-toggle:hover {
    color: #fff !important;
}

body.dark-mode .nav-link:hover span {
    color: #fff;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

body.dark-mode .nav-link-toggle {
    color: #fff;
    background: #007093;
    background: linear-gradient(90deg, rgba(0, 112, 147, 1) 0%, rgba(45, 147, 172, 1) 100%);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 4px 12px rgba(0, 0, 0, 0.1);
    border: none;
}

body.dark-mode.nav-link-toggle:hover {
    color: #fff !important;
    transform: translateY(-2px);
    background-color: #4784c5;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

body.dark-mode .navbar-nav .nav-link-toggle:focus {
    color: #fff;
}


body.dark-mode .mobile-menu {
    background: #0e0e0e;
}

body.dark-mode .mobile-menu-overlay {
    background: #000000ef;

}

body.dark-mode .mobile-menu-overlay.active {
    opacity: 1;
    visibility: visible;
}

body.dark-mode .mobile-menu.active {
    transform: translateY(10px);
}

body.dark-mode .hamburger span {
    background: #fff;
}

body.dark-mode .mobile-toggle:hover {
    background: #e6e6e61a;
}

body.dark-mode .mobile-menu-header {
    border-bottom: 1px solid rgba(199, 199, 199, 0.233);
}

body.dark-mode .mobile-menu-link {
    color: #fff;
}

/* ------------------------------------------*/

/* ------------------------------------------ 10.0 Footer ------------------------------------------ */

body.dark-mode .footer {
    background: #2c2c2c8c;
    border: 1px solid #2b2b2b33;
    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(61, 61, 61, 0.384);
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

body.dark-mode .social-link {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 20px;
}

body.dark-mode .footer-copy {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
}

/* ------------------------------------------*/


/* ------------------------------------------ 11.0 Screenshots Draggable Carousel ------------------------------------------ */

body.dark-mode .flickity-prev-next-button {
    position: absolute;
    top: 50%;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(0%) !important;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
    background-color: #444444 !important;
    border: 1px solid #2b2b2b33;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.233), 0 4px 12px rgba(0, 0, 0, 0.1);
}

body.dark-mode .flickity-prev-next-button:hover {
    transform: translateY(-2px) !important;
    background-color: #80a8cc !important;
}

body.dark-mode .flickity-prev-next-button svg {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
}

body.dark-mode .flickity-prev-next-button .arrow {
    fill: #fff !important;
}