/* ------------------------------------------
[Tables of Content]

> style
> style-breakpoints
> dark theme (this)
    - General
    - 1.0 Home Page
    - 2.0 About Page
    - 3.0 Indiv Pages
    - 4.0 Blog Page(s)
--------------------------------------------- */

/* ------------------------------------------ General ------------------------------------------ */
/* ---- Preloader */
body.dark-mode #preloader {
    background-color: #1f2022;
}

/* ---- Button */
.wbnrfz_btn_theme {
    position: relative;
    z-index: 1;
    min-width: auto;
    height: 46px;
    line-height: 42px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    padding: 0 30px;
    margin-left: 5px;
    text-align: center;
    text-transform: capitalize;
    background-color: #444;
    color: #fff;
    border-radius: 60px;
    transition-duration: 500ms;
    margin-bottom: 10px;
    margin-top: 5px;
    border: none;
}

body.dark-mode .wbnrfz_btn_theme {
    background-color: #898a77;
    color: #fff;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode p {
    color: #fff;
}

body.dark-mode hr {
    border-color: #fff;
}

/* ---- */

/* ---- Footer */
body.dark-mode .footer-area {
    background-color: #1e1e1e;
    color: #fff;
    transition: all 0.5s ease;
    z-index: 999;
}

body.dark-mode .footer-content .copywrite-text p {
    color: #fff;
}

body.dark-mode .footer-content .social-info a {
    color: #fff;
}

/* ---- */

/* ---- Progress Bar */
body.dark-mode .single-skill .progress {
    background-color: #2e2e2e;
    transition: all 0.5s ease;
}

/* ---- */

/* ---- Mobile Nav Bar */
body.dark-mode .breakpoint-on .classy-navbar .classy-menu {
    background-color: #1f2022;
    transition: all 0.5s ease;
}

/* ------------------------------------------ */

/* ------------------------------------------ 1.0 Home Page ------------------------------------------ */
body.dark-mode .pw-portfolio-area {
    background-color: #18191a;
    transition: all 0.5s ease;
}

body.dark-mode .pw-portfolio-area .container-fluid {
    background-color: #18191a;
    color: #fff;
    transition: all 0.5s ease;
}


body.dark-mode h2 {
    color: #fff;
}

body.dark-mode h2.profile-desc {
    color: #898a77;
    font-size: 20px;
    font-weight: normal;
    cursor: default;
}

body.dark-mode .about-me-area {
    background-color: #1e1e1e;
    color: #fff;
    transition: all 0.5s ease;
}

body.dark-mode .about-me-content {
    background-color: #2e2e2e;
    transition: all 0.5s ease;
}

body.dark-mode .about-me-content h4,
body.dark-mode .about-me-content p {
    color: #fff;
}

body.dark-mode .about-me-content:hover {
    background-color: #52718d;
}

body.dark-mode .follow-area {
    background-color: #18191a;
    color: #fff;
    transition: all 0.5s ease;
}

body.dark-mode .skill-ara .single-skill .progress-count p {
    color: #fff;
}

/* ------------------------------------------ */

/* ------------------------------------------ 2.0 About Page ------------------------------------------ */
body.dark-mode .about-me-summ {
    background-color: #18191a;
    transition: all 0.5s ease;
}

body.dark-mode .about-me-summary {
    background-color: #2e2e2e;
    color: #fff;
    transition: all 0.5s ease;
}

body.dark-mode .about-me-summary:hover {
    background-color: #52718d;
}

body.dark-mode .about-me-area {
    background-color: #1e1e1e !important;
    transition: all 0.5s ease;
}

body.dark-mode .timeline-content {
    background-color: #2e2e2e;
    transition: all 0.5s ease;
}

body.dark-mode .timeline-content:hover {
    background-color: #52718d;
}

/* ------------------------------------------ */

/* ------------------------------------------ 3.0 Indiv Pages ------------------------------------------ */
body.dark-mode .wbnrfz-summ {
    background-color: #1e1e1e;
    transition: all 0.5s ease;
}

body.dark-mode span,
body.dark-mode .wbnrfz_details .details_catagory_wrap .single_catagory h4,
body.dark-mode .wbnrfz_details .details_catagory_wrap .single_catagory .social_links a {
    color: #fff;
}

/* ------------------------------------------ */

/* ------------------------------------------ 4.0 Blog Page(s) ------------------------------------------ */
body.dark-mode .ftco-section-blog {
    background-color: #18191a;
    transition: all 0.5s ease;
}

body.dark-mode .block-27 ul li a {
    border: 1px solid #666666;
    color: #fff;
}

body.dark-mode .ftco-section {
    background-color: #18191a;
    transition: all 0.5s ease;
}

body.dark-mode .about-author {
    background-color: #6e6f5d;
    transition: all 0.5s ease;
}

body.dark-mode blockquote {
    background-color: #3a3b3c;
    transition: all 0.5s ease;
    color: #fff;
}

/* ------------------------------------------ */

/* ------------------------------------------ x.x EICW ------------------------------------------ */
body.dark-mode .wbnrfz-summ-micro {
    background-color: #1e1e1e;
    transition: all 0.5s ease;
    padding-top: 8em;
    padding-bottom: 10px;
}

body.dark-mode .breadcrumb-item+.breadcrumb-item::before {
    content: '\f105';
    color: #fff;
    font-family: "FontAwesome";
}

body.dark-mode li.breadcrumb-item a {
    color: #fff;
}

body.dark-mode .wbnrfz_details .banner-eicw img {
    width: 100%;
    border-radius: 20px;
}

body.dark-mode h2.page-title {
    color: #fff;
}

body.dark-mode .cp-img {
    border-radius: 20px;
}

body.dark-mode .ftco-section-otb {
    padding: 5em 0;
    background-color: #18191a;
    transition: all 0.5s ease;
}

/* ------------------------------------------ */