/* ------------------------------------------
[Tables of Content]

> style
> style-breakpoints (this)
    - 1.0 Specific Breakpoints
        - 1.0.1 Max Width: 992px
        - 1.0.2 Max Width: 768px
        - 1.0.3 Max Width: 767px
    - 2.0 Width Breakpoints
        - 2.0.1 Min Width: 992px Max Width: 1199px
        - 2.0.2 Min Width: 768px Max Width: 991px
        - 2.0.3 Min Width: 576px Max Width: 767px
        - 2.0.4 Min Width: 320px Max Width: 575px

    - 3.0 Height Breakpoints
        - 3.0.1 Min Height: 531px Max Height: 620px
        - 3.0.2 Min Height: 510px Max Height: 530px
        - 3.0.3 Min Height: 400px Max Height: 529px
        - 3.0.4 Min Height: 320px Max Height: 399px
        - 3.0.5 Min Height: 319px
                
--------------------------------------------- */

/* ------------------------------------------ 1.0 Specific Breakpoints ------------------------------------------ */
/* ---- 1.0.1 Max Width: 992px */
@media (max-width: 992px) {
    #hero {
        text-align: center;
    }

    #hero h1 {
        font-size: 52px;
        line-height: 55px;
    }

    #hero p {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 25px;
        line-height: 24px;
    }

    #media {
        margin-top: 60px;
        width: 400px;
        display: flex;
        justify-content: space-between;
    }
}

/* ---- */

/* ---- 1.0.2 Max Width: 768px */
@media (max-width: 768px) {
    #centered-container {
        top: 55%;
    }

    #profile-picture {
        width: 200px;
        height: 200px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }

    #media {
        margin-top: 40px;
        width: 300px;
        display: flex;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

/* ---- */

/* ---- 1.0.3 Max Width: 767px */
@media only screen and (max-width: 767px) {
    .section-heading h2 {
        font-size: 24px;
    }

    #scrollUp {
        right: 20px;
        bottom: 50px;
    }

    .classy-nav-container .classy-navbar .nav-brand {
        max-width: 174px;
        margin-left: -63px;
    }

    .classy-nav-container .classy-navbar .classynav ul li a {
        font-size: 14px;
        color: #252525;
    }

    .classy-nav-container .classy-navbar .classynav ul li a:hover,
    .classy-nav-container .classy-navbar .classynav ul li a:focus {
        color: #80a8cc;
    }

    .classynav ul li.active a::before {
        display: none;
    }

    .footer-content .copywrite-text p {
        font-size: 12px;
    }

    .footer-content .copywrite-text p a {
        font-size: 12px;
    }

    .footer-content .footer-logo a img {
        max-width: 50px;
    }

    .footer-content .social-info a {
        margin-right: 5px;
        font-size: 12px;
    }

    .single-software-item .instagram-hover-content a span {
        font-size: 12px;
    }

    .about-us-content h3 {
        font-size: 24px;
    }

    .breadcrumb-area {
        height: 240px;
    }

    .breadcrumb-area .page-title {
        font-size: 24px;
    }

    .breadcrumb-area.blog .breadcrumb-content .page-title {
        font-size: 30px;
    }

    .breadcrumb-area.blog .breadcrumb-content .post-meta a {
        font-size: 13px;
    }

    .pw-portfolio-area .container-fluid {
        padding-right: 5%;
        padding-left: 5%;
    }

    .pw-projects-menu .portfolio-menu .btn {
        font-size: 15px;
        margin: 7px 5px;
    }
}

/* ---- */

/* ------------------------------------------ 2.0 Width Breakpoints ------------------------------------------ */
/* ---- 2.0.1 Min Width: 992px Max Width: 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    img.profile-pic {
        width: 310px;
        height: 310px;
    }

    .profile-det {
        padding: 2em;
        padding-top: 0.5em;
    }

    .profile-link a {
        padding: 1.0em;
        font-size: 10px;
    }

    .wbnrfz_details .banner img {
        width: 80%;
    }

    .classy-nav-container .classy-navbar .classynav ul li a {
        font-size: 14px;
    }

    .single-software-item .instagram-hover-content a span {
        font-size: 12px;
    }

    .single-post-area .post-content .post-title {
        font-size: 16px;
    }

    .pw-portfolio-area .container-fluid {
        padding-right: 5%;
        padding-left: 5%;
    }
}

/* ---- */

/* 2.0.2 Min Width: 768px Max Width: 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .classy-nav-container .classy-navbar .classynav ul li a {
        font-size: 14px;
        color: #252525;
    }

    .classy-nav-container .classy-navbar .classynav ul li a:hover,
    .classy-nav-container .classy-navbar .classynav ul li a:focus {
        color: #80a8cc;
    }

    .classynav ul li.active a::before {
        display: none;
    }

    img.profile-pic {
        width: 310px;
        height: 310px;
    }

    .profile-det {
        padding: 2em;
        padding-top: 0.5em;
    }

    .profile-link a {
        padding: 1.0em;
        font-size: 10px;
    }

    .breadcrumb-area .page-title-blog {
        color: #ffffff;
        font-size: 30px;
    }

    .about-me-content {
        padding: 56px 15px 20px;
    }

    .container-blogList {
        padding: 0px;
    }

    .blog-entry .category {
        font-size: 12px;
    }

    .wbnrfz_details .banner img {
        width: 100% !important;
    }

    .single-software-item .instagram-hover-content a span {
        font-size: 12px;
    }

    .pw-portfolio-area .container-fluid {
        padding-right: 5%;
        padding-left: 5%;
    }
}

/* ---- */

/* 2.0.3 Min Width: 576px Max Width: 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .classy-nav-container .classy-navbar .nav-brand {
        max-width: 174px;
        margin-left: -63px;
    }

    .classy-nav-container .classy-navbar .classynav ul li a {
        font-size: 14px;
        color: #252525;
    }

    .classy-nav-container .classy-navbar .classynav ul li a:hover,
    .classy-nav-container .classy-navbar .classynav ul li a:focus {
        color: #80a8cc;
    }

    .classynav ul li.active a::before {
        display: none;
    }

    .section-heading h2 {
        font-size: 24px;
    }

    .section-heading p {
        margin-bottom: 0;
    }

    .section-heading.white p,
    .section-heading.white h2 {
        color: #ffffff;
    }

    #scrollUp {
        right: 20px;
        bottom: 50px;
    }

    img.profile-pic {
        width: 280px;
        height: 280px;
    }

    .profile-det {
        padding: 2em;
        padding-top: 0.5em;
    }

    .profile-link a {
        padding: 1.0em;
        font-size: 10px;
    }

    .wbnrfz_details .details_catagory_wrap {
        display: block;
        margin-bottom: 40px;
    }

    .wbnrfz_details h1 {
        font-size: clamp(34px, 8.5vw, 40px) !important;
        text-align: left;
        margin-bottom: 50px;
    }

    .wbnrfz_btn {
        min-width: 100%;
    }

    .container-blogList {
        padding: 0px;
    }

    .blog-entry .category {
        font-size: 11px;
    }

    .img-blog-profile {
        width: 100%;
        height: auto;
    }

    .wbnrfz_details .banner img {
        width: 100%;
    }

    .footer-content .copywrite-text p {
        font-size: 12px;
    }

    .footer-content .copywrite-text p a {
        color: #fc6060;
    }

    .footer-content .copywrite-text p a {
        font-size: 12px;
    }

    .footer-content .footer-logo a img {
        max-width: 50px;
    }

    .footer-content .social-info a {
        margin-right: 5px;
        font-size: 12px;
    }

    .footer-content .social-info a:hover,
    .footer-content .social-info a:focus {
        color: #80a8cc;
    }

    .single-software-item .instagram-hover-content a span {
        font-size: 12px;
    }

    .about-us-content h3 {
        font-size: 24px;
    }

    .breadcrumb-area {
        height: 240px;
    }

    .breadcrumb-area .page-title {
        font-size: 24px;
    }

    .breadcrumb-area.blog .breadcrumb-content .page-title {
        font-size: 30px;
    }
    
    .breadcrumb-area.blog .breadcrumb-content .post-meta a {
        font-size: 13px;
    }

    .pw-portfolio-area .container-fluid {
        padding-right: 5%;
        padding-left: 5%;
    }

    .pw-projects-menu .portfolio-menu .btn {
        font-size: 15px;
        margin: 7px 5px;
    }
}

/* ---- */

/* 2.0.4 Min Width: 320px Max Width: 575px */
@media only screen and (min-width: 320px) and (max-width: 575px) {
    img.profile-pic {
        width: 250px;
        height: 250px;
    }

    .profile-det {
        padding: 2em;
        padding-top: 0.5em;
    }

    .profile-link a {
        padding: 1.0em;
        font-size: 10px;
    }

    .footer-content .copywrite-text {
        padding-right: 10px;
    }

    .screenS {
        width: 100%;
    }

    .breadcrumb-area .page-title-blog {
        color: #ffffff;
        font-size: 35px;
    }

    .pw-btn {
        font-size: 12px;
        padding: 0 20px;
    }

    .footer-content {
        padding: 20px 0;
        padding-right: 10px;
    }

    .section-heading h2 {
        font-size: 30px;
    }

    .section-heading h1 a {
        font-size: 15px !important;
    }

    .about-me-content {
        padding: 56px 32px 20px;
        margin-top: 12px;
    }

    .wbnrfz_details .details_catagory_wrap {
        display: block;
        margin-bottom: 40px;
    }

    .wbnrfz_details h1 {
        font-size: clamp(30px, 8.5vw, 30px) !important;
        text-align: left;
        margin-bottom: 50px;
    }

    .wbnrfz_btn {
        min-width: 100%;
    }

    .container-blogList {
        padding: 0px;
    }

    .blog-entry a {
        font-size: 18px;
    }

    .blog-entry a.blog-date {
        font-size: 14px;
    }

    .blog-entry .category {
        font-size: 11px;
    }

    .img-blog-profile {
        width: 100%;
        height: auto;
    }

    .wbnrfz_details .banner img {
        width: 100%;
    }

}

/* ---- */


/* ------------------------------------------ 3.0 Height Breakpoints ------------------------------------------ */
/* ---- 3.0.1 Min Height: 531px Max Height: 620px */
@media (min-height: 531px) and (max-height: 620px) {
    .breadcrumb-content {
        scale: 0.8;
        padding-top: 1em;
    }

    .profile-det {
        padding-top: 0em;
        padding-bottom: 0.5em;
    }
}

/* ---- */

/* ---- 3.0.2 Min Height: 510px Max Height: 530px */
@media (min-height: 510px) and (max-height: 530px) {
    img.profile-pic {
        width: 250px;
        height: 250px;
    }

    .breadcrumb-content {
        scale: 0.8;
        padding-top: 0em;
    }

    .profile-det {
        padding-top: 0em;
        padding-bottom: 0.5em;
    }
}

/* ---- */

/* ---- 3.0.3 Min Height: 400px Max Height: 529px */
@media (min-height: 400px) and (max-height: 529px) {
    img.profile-pic {
        width: 200px;
        height: 200px;
    }

    .breadcrumb-content {
        scale: 0.8;
        padding-top: 0em;
        margin-top: 30px;
    }

    .profile-det {
        padding-top: 0em;
        padding-bottom: 0.5em;
    }
}

/* ---- */

/* ---- 3.0.4 Min Height: 320px Max Height: 399px */
@media (min-height: 320px) and (max-height: 399px) {
    img.profile-pic {
        width: 190px;
        height: 190px;
    }

    .profile-name {
        padding-top: 0.5em;
    }

    .profile-desc {
        padding-bottom: 0.5em;
    }

    .breadcrumb-content {
        scale: 0.8;
        padding-top: 0em;
        margin-top: 10px;
    }

    .profile-det {
        padding-top: 0em;
        padding-bottom: 0em;
    }
}

/* ---- */

/* ---- 3.0.5 Min Height: 319px */
@media (max-height: 319px) {
    img.profile-pic {
        display: none;
    }

    .profile-name {
        display: none;
    }

    .profile-desc {
        display: none;
    }

    .breadcrumb-content {
        display: none;
    }

    .profile-det {
        display: none;
    }
}

/* ---- */