/* ------------------------------------------
[Tables of CSS Content]

> style
> style-extension-1 (this)
    - 17.0 Hero Details CSS
    - 18.0 Skills Section CSS
    - 19.0 Works by NRFZ_Details Section CSS
    - 20.0 Blog Post Section CSS
    - 21.0 Responsive_Extension CSS - Width
    - 22.0 Responsive_Extension CSS - Height
--------------------------------------------- */

/* :: 17.0 Hero Details CSS */
img.profile-pic {
  width: 220px;
  height: 220px;
}

.profile-det {
  padding: 4em;
  padding-top: 0.5em;
  padding-bottom: 2.5em;
}

.profile-name {
  color: #fff;
  font-size: 35px;
  padding-top: 0.5em;
  cursor: default;
}

.profile-desc {
  color: #898a77;
  font-size: 20px;
  font-weight: normal;
  cursor: default;
}

.profile-link a {
  padding: 1.0em;
}

.profile-link a:hover {
  color: #80a8cc;
}


/* :: 18.0 Skills Section CSS */
.owl-carousel.owl-loaded {
  display: block;
  scale: 0.8;
  padding-top: 15px;
}

.skill-ara {
  padding-left: 20px;
  padding-right: 20px;
}


.skill-ara .single-skill {
  margin-bottom: 25px;
}

.skill-ara .single-skill .progress-count {
  display: flex;
  justify-content: space-between;
}

.skill-ara .single-skill .progress-count p {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  color: #000d21;
  margin-bottom: 10px;
  cursor: default;
}

.skill-ara .single-skill .progress-count span {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  color: #898a77;
  margin: 0;
}

.skill-ara .single-skill .progress {
  height: 8px;
  border-radius: 0;
  background-color: #dbe3e9;
  border-radius: 4px;
}

.skill-ara .single-skill .progress-bar {
  background-color: #80a8cc;
  border-radius: 7px;
}


/* :: 19.0 Works by NRFZ_Details Section CSS */

.portfolio-details-slider img {
  width: 100%;
}

.portfolio-details-slider .swiper-pagination {
  margin-top: 30px;
  position: relative;
}

.portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #898a77;
  opacity: 1;
}

.portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #80a8cc;
}

.glightbox-clean .gslide-title {
  font-size: 1em;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  color: #fff;
  margin-bottom: 19px;
  line-height: 1.4em;
}

.screenS {
  flex: 0 0 auto;
  width: 50%;
  padding: 30px;
}

.section-padding-screenS {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}


/* :: 20.0 Blog Post Section CSS */
.breadcrumb-area .page-title-blog {
  color: #ffffff;
  font-size: 55px;
}

.mb-3 {
  margin-top: 1.2rem !important;
  margin-bottom: 1rem !important;
}

.row-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 0px;
  padding: 10px;
}

.column-pic {
  float: left;
  width: 50% !important;
  padding: 10px !important;
}

.column-pic-single {
  float: left;
  width: 100% !important;
  padding: 10px !important;
}

figcaption p {
  margin-top: 10px;
  font-size: 15px;
  color: #636457;
}

.container-blog {
  width: 100%;
  padding-right: 42px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.sidebar-box {
  margin-bottom: 40px;
  font-size: 15px;
  width: 100%;
  float: left;
  background: #e9eae5;
  padding: 20px;
  border-radius: 20px;
}

.sidebar-box .heading {
  font-size: 25px;
  color: #fff;
  font-weight: 700;
  margin: 20px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  cursor: default;
}

.sidebar-box *:last-child {
  margin-bottom: 0;
}

.mb-4 {
  margin-bottom: 0rem !important;
}

.tagcloud a {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 7px;
  margin-right: 4px;
  border-radius: 4px;
  color: #252525;
  background-color: #e4e6cf;
  font-size: 11px;
}

.tagcloud a:hover {
  -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  background-color: #80a8cc;
  color: #ffffff;
}

.bg-light {
  background-color: #e9eae5 !important;
  box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
  border-radius: 20px;
  padding-bottom: 2px;
}

.about-author {
  background-color: #e4e6cf !important;
  box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
  border-radius: 20px;
  padding-bottom: 2px;
}

.p-4 {
  padding: 1.5rem !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.desc {
  margin-left: 2em;
}

.sidebar-box h3 {
  font-size: 18px;
  font-weight: 700;
}

.blog-img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 1.8em;
}

.block-21 .blog-img {
  display: block;
  height: 80px;
  width: 80px;
}

.block-21 .text {
  width: calc(100% - 100px);
}

.block-21 .text .heading {
  font-size: 18px;
  font-weight: 400;
}

.block-21 .text .meta {
  margin-left: 20px;
}

h3.heading {
  border-bottom: none !important;
  margin-bottom: 10px !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-col {
  flex: 0 0 auto;
  width: 100%;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.row-blog>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-top: var(--bs-gutter-y);
}

blockquote {
  background-color: #e9eae5;
  padding: 2em;
  color: #000;
  border-radius: 1em;
  cursor: default;
}

.befaft-slider {
  padding-top: 3em;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #6364576e;
}

.ftco-section {
  background-color: #f6f7f2;
  padding-bottom: 10px;
}

#proposal {
  scroll-margin-top: 8vh;
}

.img-logo {
  scale: 0.3;
}

.img-blog-profile {
  width: 60%;
  height: auto;
}

.progress-bar {
  height: 7px;
  background: #b9683f;
  width: 0%;
}

.scroll-bar {
  height: 5px;
  background: #b9683f;
  width: 0%;
}

/*  */
.wbnrfz_details .details_catagory_wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
}

.wbnrfz_details .details_catagory_wrap .single_catagory .social_links a {
  font-size: 16px;
  color: #000;
  margin-right: 10px;
}

.wbnrfz_details .details_catagory_wrap .single_catagory .social_links a:hover {
  color: #80a8cc;
}

.wbnrfz_details .details_catagory_wrap .single_catagory {
  margin-bottom: 30px;
}

.wbnrfz_details .details_catagory_wrap .single_catagory h4 {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

.wbnrfz_details .details_catagory_wrap .single_catagory span {
  font-size: 12px;
  color: #828793;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  display: block;
  margin-bottom: 6px;
}

.wbnrfz_details .banner {
  margin-bottom: 30px;
}

.wbnrfz_details .details_info {
  margin-bottom: 20px;
  text-align: justify;
}

.wbnrfz_details h1 {
  font-size: clamp(34px, 8.5vw, 40px) !important;
  margin-bottom: 50px;
  font-weight: bold;
}

.wbnrfz_btn {
  position: relative;
  z-index: 1;
  min-width: auto;
  height: 46px;
  line-height: 42px;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  padding: 0 30px;
  text-align: center;
  text-transform: capitalize;
  background-color: #e4e6cf;
  color: #252525;
  border-radius: 60px;
  transition-duration: 500ms;
  margin-bottom: 10px;
  margin-top: 5px;
}

.wbnrfz_details .col-lg-6, .wbnrfz_details .col-lg-4 {
  padding-top: 25px;
}

.container-xxl {
  max-width: 1450px;
}

.mfp-arrow {
  top: 75%;
}

/*  */
.container-blogList {
  max-width: 1450px;
}

.blog-entry {
  background: #ffffff;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 3px 0 15px -1px rgba(0, 0, 0, 0.15);
}


.blog-entry .col-md-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.blog-entry .block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 45%;
  position: relative;
  display: block;
  border-radius: 20px;
}

.order-md-last {
  -webkit-box-ordinal-group: 14;
  -ms-flex-order: 13;
  order: 13;
}

.blog-entry .text {
  position: relative;
  border-top: 0;
  border-radius: 2px;
  width: 55%;
}

.blog-entry a {
  position: relative;
  border-top: 0;
  border-radius: 20px;
  width: 55%;
  color: #000;
}

.blog-entry .category {
  position: absolute;
  padding: 2px 15px;
  border-radius: 20px;
  font-size: 12px;
  text-transform: uppercase;
  color: #252525;
  background-color: #e4e6cf;
  top: 15px;
  left: 15px;
  font-weight: 500;
}

.blog-entry .text .heading {
  font-size: 20px;
  margin-bottom: 16px;
}

.blog-entry .icon {
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.blog-entry:hover .icon {
  opacity: 1;
}

.blog-entry a.blog-date {
  color: #6d7072
}

.blog-entry .blog-date-div {
  margin-top: 2em;
  font-size: 14px;
  color: #80a8cc;
}

.p-4 {
  padding: 1.5rem !important;
}

.d-block {
  display: block !important;
}

.ftco-section-blog {
  padding: 7em 0;
  background-color: #f6f7f2;
}

.mt-5 {
  margin-top: 3rem !important;
}

.block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 45%;
  position: relative;
  display: block;
}

.block-27 ul li a,
.block-27 ul li span {
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #4a5562;
  border: 1px solid #dee2e6;
}

.block-27 ul {
  padding: 0;
  margin: 0;
}

.block-27 ul li {
  display: inline-block;
  margin-bottom: 4px;
}

.block-27 ul li a,
.block-27 ul li span {
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #4a5562;
  border: 1px solid #dee2e6;
  border-radius: 20px;
}

.block-27 ul li.active a,
.block-27 ul li.active span {
  background: #898a77;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 20px;
}

.col-pg {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.wbnrfz_details .banner img {
  width: 80%;
}

.dropdown-item:focus {
  background-color: #80a8cc;
  color: #fff;
}

.dropdown-item:hover {
  background-color: #80a8cc;
  color: #fff;
}


/* :: 21.0 Responsive_Extension CSS - Width */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  img.profile-pic {
    width: 310px;
    height: 310px;
  }

  .profile-det {
    padding: 2em;
    padding-top: 0.5em;
  }

  .profile-link a {
    padding: 1.0em;
    font-size: 10px;
  }

  .wbnrfz_details .banner img {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  img.profile-pic {
    width: 310px;
    height: 310px;
  }

  .profile-det {
    padding: 2em;
    padding-top: 0.5em;
  }

  .profile-link a {
    padding: 1.0em;
    font-size: 10px;
  }

  .breadcrumb-area .page-title-blog {
    color: #ffffff;
    font-size: 30px;
  }

  .about-me-content {
    padding: 56px 15px 20px;
  }

  .container-blogList {
    padding: 0px;
  }

  .blog-entry .category {
    font-size: 12px;
  }

  .wbnrfz_details .banner img {
    width: 100% !important;
  }

  .wbnrfz_btn {
    min-width: auto;
    padding: 0 12px;
    margin-bottom: 5px;
  }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  img.profile-pic {
    width: 280px;
    height: 280px;
  }

  .profile-det {
    padding: 2em;
    padding-top: 0.5em;
  }

  .profile-link a {
    padding: 1.0em;
    font-size: 10px;
  }

  .wbnrfz_details .details_catagory_wrap {
    display: block;
    margin-bottom: 40px;
  }

  .wbnrfz_details h1 {
    font-size: clamp(34px, 8.5vw, 40px) !important;
    text-align: left;
    margin-bottom: 50px;
  }

  .wbnrfz_btn {
    min-width: 100%;
  }

  .container-blogList {
    padding: 0px;
  }

  .blog-entry .category {
    font-size: 11px;
  }

  .img-blog-profile {
    width: 100%;
    height: auto;
  }

  .wbnrfz_details .banner img {
    width: 100%;
  }

}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  img.profile-pic {
    width: 250px;
    height: 250px;
  }

  .profile-det {
    padding: 2em;
    padding-top: 0.5em;
  }

  .profile-link a {
    padding: 1.0em;
    font-size: 10px;
  }

  .footer-content .copywrite-text {
    padding-right: 10px;
  }

  .screenS {
    width: 100%;
  }

  .breadcrumb-area .page-title-blog {
    color: #ffffff;
    font-size: 35px;
  }

  .pw-btn {
    font-size: 12px;
    padding: 0 20px;
  }

  .footer-content {
    padding: 20px 0;
    padding-right: 10px;
  }

  .section-heading h2 {
    font-size: 30px;
  }

  .section-heading h1 a {
    font-size: 15px !important;
  }

  .about-me-content {
    padding: 56px 32px 20px;
    margin-top: 12px;
  }

  .wbnrfz_details .details_catagory_wrap {
    display: block;
    margin-bottom: 40px;
  }

  .wbnrfz_details h1 {
    font-size: clamp(30px, 8.5vw, 30px) !important;
    text-align: left;
    margin-bottom: 50px;
  }

  .wbnrfz_btn {
    min-width: 100%;
  }

  .container-blogList {
    padding: 0px;
  }

  .blog-entry a {
    font-size: 18px;
  }

  .blog-entry a.blog-date {
    font-size: 14px;
  }

  .blog-entry .category {
    font-size: 11px;
  }

  .img-blog-profile {
    width: 100%;
    height: auto;
  }

  .wbnrfz_details .banner img {
    width: 100%;
  }

}


/* :: 22.0 Responsive_Extension CSS - Height */
@media (min-height: 531px) and (max-height: 620px) {
  .breadcrumb-content {
    scale: 0.8;
    padding-top: 1em;
  }

  .profile-det {
    padding-top: 0em;
    padding-bottom: 0.5em;
  }
}

@media (min-height: 510px) and (max-height: 530px) {
  img.profile-pic {
    width: 250px;
    height: 250px;
  }

  .breadcrumb-content {
    scale: 0.8;
    padding-top: 0em;
  }

  .profile-det {
    padding-top: 0em;
    padding-bottom: 0.5em;
  }
}

@media (min-height: 400px) and (max-height: 529px) {
  img.profile-pic {
    width: 200px;
    height: 200px;
  }

  .breadcrumb-content {
    scale: 0.8;
    padding-top: 0em;
    margin-top: 30px;
  }

  .profile-det {
    padding-top: 0em;
    padding-bottom: 0.5em;
  }
}

@media (min-height: 320px) and (max-height: 399px) {
  img.profile-pic {
    width: 190px;
    height: 190px;
  }

  .profile-name {
    padding-top: 0.5em;
  }

  .profile-desc {
    padding-bottom: 0.5em;
  }

  .breadcrumb-content {
    scale: 0.8;
    padding-top: 0em;
    margin-top: 10px;
  }

  .profile-det {
    padding-top: 0em;
    padding-bottom: 0em;
  }
}

@media (max-height: 319px) {
  img.profile-pic {
    display: none;
  }

  .profile-name {
    display: none;
  }

  .profile-desc {
    display: none;
  }

  .breadcrumb-content {
    display: none;
  }

  .profile-det {
    display: none;
  }
}